.cycle {
    background: #ccc;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.ball__tag {
    text-align: center;
}
